body{
	background-color: #232323;
	margin: 0;
}
html{
	height: 100%;
}
.square{
	width: 30%;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	background: purple;
}

#container{
	max-width: 600px;
	margin: 0 auto;
	padding-top: 10%;
}
h1{
	text-align: center;
	color: white;
	margin: 0;
	text-transform: uppercase;

}

#strip{
	background-color: white;
	text-align: center;
 	color: black;
 	height:35px;
}
.active{
	background-color: #79b2ec;

}

button{
	background: none;
	border: none;
	height: 100%;
	font-weight: 800;
	font-size: inherit;
}
#message{
	display: inline-block;
	width: 20%;
}
